* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  background-color: var(--branco);
  width: 100%;
  height: 70px;
}

header li {
  list-style: none;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

/*_________________________________________________ FLEXBOX  _________________________________________________*/

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.baseline {
  justify-content: baseline;
}

.item {
  flex: 1;
}

.grow0 {
  flex-grow: 0;
}

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

/*___________________________________________ CLASSES CUSTOMIZADAS  ___________________________________________*/

.container {
  margin: 0px 170px;
}

.container-main {
  margin: auto;
}

/*_________________________________________________ HEADER _________________________________________________*/

header li:hover {
  background-color: #e6e1df;
}

/*_________________________________________________ MAIN  _________________________________________________*/

.fundo-imagem {
  padding: 500px 0px 0px;
  background-image: url("../img/fundo1.png");
}

.apresentacao {
  background-color: var(--branco);
  height: 400px;
  width: 100%;
  margin-top: -300px;
}

#container-botao {
  width: 100%;
}

#botao {
  width: 150px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#botao:hover {
  border-color: var(--laranja-hanoi);
}

#descricao-um {
  text-align: center;
  margin-top: 100px;
}

#descricao-um h1 {
  font-size: 33px;
}

#descricao-dois p {
  font-size: 18px;
}

#descricao-dois {
  text-align: center;
}

.sobre {
  margin: 30px 60px 0;
}

#info1 {
  margin-top: 75px;
  margin-bottom: 50px;
}

.info {
  border-top: 5px solid;
  border-color: var(--laranja-hanoi);
  background-color: var(--branco);
  width: 100%;
  padding: 10px;
  margin: 0 20px 30px;
}

.info h2 {
  padding-bottom: 50px;
  text-align: center;
}

.info p {
  margin-top: 10px;
}

/*__________________________ QUEM SOMOS  __________________________*/

.quem-somos {
  background-color: var(--branco);
  height: 400px;
  margin-bottom: 70px;
  text-align: center;
  padding: 70px 0;
}

.quem-somos h3 {
  font-size: 25px;
  padding-bottom: 50px;
}

#quem-sobre-p {
  padding: 10px 0 50px ;
}

.quem-sobre hr {
  width: 500px;
  margin: auto;
}

.dev {
  background-color: #ffffff;
  padding: 50px;
  margin: 0 20px;
  flex-basis: 100%;
  border-bottom: 5px solid;
  border-color: var(--laranja-hanoi);
}

.dev-img {
width: 90px;
margin-bottom: 20px;
}

/*__________________________ CONTATO  __________________________*/

.contato {
  padding: 0px 200px 70px 200px;
  background-color: var(--branco);
}

.contato-info {
  padding: 70px 0;
  margin-right: 50px;
}

.contato-info h4 {
  font-size: 25px;
  padding-bottom: 50px;
}

.contato-info p {
  padding-top: 10px;
}

.forms {
  margin-top: 60px;
}

.forms input {
  margin: 10px 0;
}

.forms-preencher {
  padding: 5px 20px;
}

#assunto {
  padding-bottom: 100px;
}

.submit {
  width: 150px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  background-color: #fff;
}

.submit:hover {
  border-color: var(--laranja-hanoi);
}

/*_________________________________________________ FOOTER  _________________________________________________*/

.rodape {
  width: 100%;
  height: 70px;
  background-color: var(--laranja-hanoi);
  text-align: center;
}

.rodape p {
  padding-top: 25px;
}
